.content{
    text-decoration: none;
    text-align: justify;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.tools{
    font-size: 2rem;
}

.icon-desc{
    font-size: 0.5rem;
}

.heading{
    text-align: center;
}

.heading::after{
    font-family: Georgia, 'Times New Roman', Times, serif    ;
    content: "Kartik Talwar";
}

.languages li{
    text-decoration: none;
    display: flex;
    justify-content: right;
    border-radius: 25px;
    border: 2px solid #7289DA;
    padding: 20px;
    margin: 10px;
    float: right;
}

#lang-heading{
    text-align: right;
    font-size: 1.5rem;
}

#lang-heading u{
    text-decoration-color: #7289DA;

}

@media only screen and (max-width: 768px){
    .heading::after{
        content: "Kartik";
    }
}